node_modules
bin/
# Generated certificates for local development
certs/
# Generated kubeconfig for local development
.kube/

.tool-versions
vendor/

# Location the test-infra repo will be copied to by the remote taskfile.
.test-infra
# Files used by the taskfile.
.task

# JetBrains IDEs
.idea/
.run/